.button-container {
	display: grid;
	width: 90vmin;
	height: calc(6vmin + 10px);
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	gap: 0; 
	margin: 0 auto;
	box-sizing: border-box; 
}

.close-button {
	position: absolute;
	border: none;
	padding: 0;
	width: 40px; /* Adjust the width */
	height: 40px; /* Adjust the height */
	border-radius: 50%;
	background: transparent;
	color: var(--close-button-X-color);
	cursor: pointer;
	transition: background var(--transition-time);
	
	&:hover {
		background: var(--close-button-border-color);
	}

	&::before, &::after {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 2px;
		height: 50%;
		background: currentcolor;
		content: '';
	}

	&::before {
		transform: translate(-50%, -50%) rotate(45deg);
	}
	
	&::after {
		transform: translate(-50%, -50%) rotate(-45deg);
	}
}

.left-button {
	overflow: hidden;
	position: relative;
	border: none;
	padding: 0;
	width: 100%; height: 100%;
	border-radius: 50%;
	background: transparent;
	color: var(--close-button-X-color);
	text-indent: 100%;
	cursor: pointer;
	transition: background var(--transition-time);

	&:hover {
		background: var(--close-button-border-color);
	}

	&::before, &::after {
		position: absolute;
		top: 22.4%; left: 45%; right: 0;
		width: .125em; height: 35%;
		border-radius: .125em;
		transform: rotate(50deg);
		background: currentcolor;
		content: '';
	}
	
	&::after { 
		top: 43.6%;
		transform: rotate(-50deg);
		background: var(--close-button-X-color);
	}
}

.media-button {
	border: 1px solid black;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	margin: 0px 4px;

	&:hover {
		background-color: #b3b6bd;
	}
}

.link-button {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	border-radius: 50dvh;
	background-color: #444;
	width: fit-content;
	height: 0.8em;
	padding: 10px 20px;
	margin: 0 auto 8px auto; 
	font-family: "Geist", sans-serif;
	text-decoration: none;
	cursor: pointer;
	color: white;
	
	transition: background-color 0.3s ease;

	&:hover {
		background-color: white;
		color: black;
	}
}