.background-color-1 {
	background-color: #222831e6;
}

.background-color-black {
	background-color: rgba(71, 71, 71, 0.4)
}

.text-color-white {
	color: white;
}

.text-color-blue {
	color: #80CCFF;
}

.text-color-green {
	color: #BADA55;
}

.link-color {
	color: #7089c7;
}