#image-view {
	display:flex;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
}

#project-links {
	display: flex;
	justify-content: center;
	align-items: center;
}

.responsive-video {
	width: 65%;
	max-width: 700px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.video-container {
	position: relative;
	padding-bottom: 56%; 
	padding-top: 25px;
	height: 0;
	background-color: rgba(0, 0, 0, 0.25);
}

.video-container iframe, .video-container object, .video-container embed, .video-container #image-showcase {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#arrow-button-container {
	display: flex;
	padding: 0px 10px 0px 10px; 
	width: 40px;
	height: 40px;
}

#image-showcase {
	display: none;
	cursor: pointer;
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.project-image-highlighted { 
	background-color: rgb(165, 201, 88) !important;
}

#content-description {
	margin: 0 auto;
}

.image-showcase2 {
	max-width: 100%;
	max-height: 100%;
	border-radius: 1em;
	width: auto;
	height: auto;
	object-fit: contain;
}

.image-zoom-bounds {
	width: 85%;
	height: 80dvh;
	margin: auto;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}